body {
    margin: 0;
    padding: 0;
    background-image: url(../images/computer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}